body {
  /*margin: 40px;*/
}

.wrapper {
  display: grid;
  /*grid-template-columns: 100px 100px 100px;*/
  grid-template-columns: 33% 33% 33%;
  grid-gap: 30px;
 background-image: -webkit-linear-gradient(top,rgb(225,225,225),rgb(129, 206, 78));
 /*background-color: rgba(129,206,78,0.8);*/
}
  


.box {
  /*background-color: red;*/
  color: #fff;
  
  border-radius: 5px;
  padding: 100px;
  font-size: 150%;
  background-image: -webkit-linear-gradient(left, 
  rgba(238,196,135,.5) 0%,
  rgba(243,207,154,.5) 3%,
  rgba(248,216,162,.5) 6%,
  rgba(243,207,154,.5) 6%,
  rgba(243,207,154,.5) 9%,
  rgba(241,202,136,.5) 12%,
  rgba(243,207,154,.5) 15%,
  rgba(244,208,158,.5) 17%,
  rgba(243,207,154,.5) 19%,
  rgba(243,207,154,.5) 21%,
  rgba(250,221,176,.5) 23%,
  rgba(250,221,176,.5) 25%,
  rgba(243,207,154,.5) 27%,
  rgba(238,200,138,.5) 29%,
  rgba(243,207,154,.5) 29%,
  rgba(243,207,154,.5) 32%,
  rgba(243,207,154,.5) 34%,
  rgba(243,207,154,.5) 37%,
  rgba(250,221,176,.5) 40%,
  rgba(250,221,176,.5) 43%,
  rgba(243,207,154,.5) 43%,
  rgba(243,207,154,.5) 44%,
  rgba(243,207,154,.5) 47%,
  rgba(238,200,138,.5) 49%,
  rgba(243,207,154,.5) 52%,
  rgba(250,221,176,.5) 54%,
  rgba(244,208,158,.5) 56%,
  rgba(243,207,154,.5) 59%,
  rgba(244,208,158,.5) 61%,
  rgba(250,221,176,.5) 64%,
  rgba(243,207,154,.5) 64%,
  rgba(244,208,158,.5) 66%,
  rgba(243,207,154,.5) 69%,
  rgba(248,216,162,.5) 71%,
  rgba(243,207,154,.5) 74%,
  rgba(243,207,154,.5) 76%,
  rgba(243,207,154,.5) 77%,
  rgba(243,207,154,.5) 80%,
  rgba(250,221,176,.5) 81%,
  rgba(243,207,154,.5) 83%,
  rgba(250,221,176,.5) 83%,
  rgba(250,221,176,.5) 85%,
  rgba(243,207,154,.5) 87%,
  rgba(250,221,176,.5) 89%,
  rgba(250,221,176,.5) 91%,
  rgba(243,207,154,.5) 92%,
  rgba(248,216,162,.5) 96%,
  rgba(243,207,154,.5) 97%,
  rgba(243,207,154,.5) 97%,
  rgba(243,207,154,.5) 98%,
  rgba(243,207,154,.5) 100%),

-webkit-linear-gradient(right, 
rgba(238,196,135,.3) 0%,
rgba(243,207,154,.3) 3%,
rgba(248,216,162,.3) 6%,
rgba(243,207,154,.3) 6%,
rgba(243,207,154,.3) 9%,
rgba(241,202,136,.3) 12%,
rgba(243,207,154,.3) 15%,
rgba(244,208,158,.3) 17%,
rgba(243,207,154,.3) 19%,
rgba(243,207,154,.3) 21%,
rgba(250,221,176,.3) 23%,
rgba(250,221,176,.3) 25%,
rgba(243,207,154,.3) 27%,
rgba(238,200,138,.3) 29%,
rgba(243,207,154,.3) 29%,
rgba(243,207,154,.3) 32%,
rgba(243,207,154,.3) 34%,
rgba(243,207,154,.3) 37%,
rgba(250,221,176,.3) 40%,
rgba(250,221,176,.3) 43%,
rgba(243,207,154,.3) 43%,
rgba(243,207,154,.3) 44%,
rgba(243,207,154,.3) 47%,
rgba(238,200,138,.3) 49%,
rgba(243,207,154,.3) 52%,
rgba(250,221,176,.3) 54%,
rgba(244,208,158,.3) 56%,
rgba(243,207,154,.3) 59%,
rgba(244,208,158,.3) 61%,
rgba(250,221,176,.3) 64%,
rgba(243,207,154,.3) 64%,
rgba(244,208,158,.3) 66%,
rgba(243,207,154,.3) 69%,
rgba(248,216,162,.3) 71%,
rgba(243,207,154,.3) 74%,
rgba(243,207,154,.3) 76%,
rgba(243,207,154,.3) 77%,
rgba(243,207,154,.3) 80%,
rgba(250,221,176,.3) 81%,
rgba(243,207,154,.3) 83%,
rgba(250,221,176,.3) 83%,
rgba(250,221,176,.3) 85%,
rgba(243,207,154,.3) 87%,
rgba(250,221,176,.3) 89%,
rgba(250,221,176,.3) 91%,
rgba(243,207,154,.3) 92%,
rgba(248,216,162,.3) 96%,
rgba(243,207,154,.3) 97%,
rgba(243,207,154,.3) 97%,
rgba(243,207,154,.3) 98%,
rgba(243,207,154,.3) 100%),

  -webkit-linear-gradient(left, 
  rgba(238,196,135,.3) 0%,
  rgba(243,207,154,.3) 3%,
  rgba(238,200,138,.3) 49%,
  rgba(243,207,154,.3) 52%,
  rgba(250,221,176,.3) 54%,
  rgba(244,208,158,.3) 56%,
  rgba(243,207,154,.2) 59%,
  rgba(244,208,158,.3) 61%,
  rgba(250,221,176,.3) 64%,
  rgba(243,207,154,.3) 64%,
  rgba(244,208,158,.3) 66%,
  rgba(243,207,154,.3) 69%,
  rgba(248,216,162,.3) 71%,
  rgba(243,207,154,.3) 74%,
  rgba(243,207,154,.3) 76%,
  rgba(243,207,154,.3) 77%,
  rgba(243,207,154,.3) 80%,
  rgba(250,221,176,.3) 81%,
  rgba(243,207,154,.3) 83%,
  rgba(250,221,176,.3) 83%,
  rgba(250,221,176,.3) 85%,
  rgba(243,207,154,.3) 87%,
  rgba(250,221,176,.3) 89%,
  rgba(250,221,176,.3) 91%,
  rgba(243,207,154,.3) 92%,
  rgba(248,216,162,.3) 96%,
  rgba(243,207,154,.3) 97%,
  rgba(243,207,154,.3) 97%,
  rgba(243,207,154,.3) 98%,
  rgba(243,207,154,.3) 100%);

  background-color:rgba(33, 22, 0, 1);
  /*box-shadow: 15px 20px rgba(90, 45, 12, .8);*/
  box-shadow: 20px 20px 20px rgba(135, 67, 18, .8) inset, 20px 30px 20px rgba(90, 45, 12, .8);
}

.h {  
    background-image: -webkit-linear-gradient(top,rgb(111, 176, 226),rgb(225,225,225));
    /*background-image: -webkit-linear-gradient(top,rgb(225,225,225),rgb(129, 206, 78));
    */
    grid-column: 1 / span 3;
    grid-row: 1 / 2;

    box-shadow: 2px 20px 20px rgba(95, 163, 219, 0.8) inset, 20px 30px 20px rgba(225, 225, 225, .8);
    
}



/*rgba(90, 45, 12, .8)*/

.box:hover {
    transform: scale(1.15);